.home {
  width: 400px;
  margin: auto;
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }
  div {
    margin: auto;
    border-right: 1px solid;
    width: 32ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(32, end), blink-caret .5s step-end infinite alternate;
  }
  div:nth-child(3) {
    width: 28ch;
    animation: typing 3s steps(28, end), blink-caret .5s step-end infinite alternate;
    animation-delay: 3s;
    animation-fill-mode: backwards;
  }
}
